@media  (max-width: 1080px) {
    .container__small-card {
        /*border: 1px white solid;*/    
        margin-bottom: 15px;
        margin-left: 20px;
    }
    
    .container__small-card-content {
        width: 55%;
        display: flex;
        flex-direction: row;
    }
    
    .small-card__photo > img {
        width: 100%;
        
    }
    
    .small-card__title {
        width: 50%;
        margin-left: 15px;
       
    }
    
    .small-card__title > h1 {
       /* display: flex;
        justify-content: center;
        align-items: center; */
        font-size: 25px;
        width: 900px;
    }
    
    a{
        text-decoration: none;
    }
    
    a:hover{
        color: rgb(255,0,0);
        cursor: grab;
        transition: 0.5s ease-in-out;
        transform: scale(1.2);
    }
    
    .container__small-card__separator {
        margin-top: 10px;
    }
}