@media (max-width: 1080px) {
    .container__articles {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articles__main {
    width: 100%;
}

.articles__others{
    margin-top: 20px;
    width: 100%;
}

header {    
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
}

