.container__menu-bar > ul {
    display: flex;
    flex-direction: row;    
}

.container__menu-bar > ul > li {
    margin-right: 20px;
    list-style: none;
    font-size: 20px;    
}

a {
    text-decoration: none;
}

a:hover{
    color: rgb(255,0,0);
    cursor: grab;
    transition: 0.5s ease-in-out;
    transform: scale(1.2);
}